# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Entity backups
*.php~

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Eclipse settings
.buildpath
.project
.settings/*
